/**
 * CSS classes for building screen-filling panes in an app-like web page
 */

.h-div, .v-div {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: table;
    margin: 0;
}

.h-left {
    vertical-align: top;
    display: table-cell;
    height: 100%;
}

.v-top {
    vertical-align: top;
    display: table-row;
    width: 100%;
}

.v-bottom {
    vertical-align: top;
    display: table-row;
    width: 100%;
}

.h-10p { width: 10%; box-sizing: border-box; }
.h-15p { width: 15%; box-sizing: border-box; }
.h-20p { width: 20%; box-sizing: border-box; }
.h-30p { width: 30%; box-sizing: border-box; }
.h-40p { width: 40%; box-sizing: border-box; }

.v-100 { height: 100px; box-sizing: border-box; }
.v-150 { height: 150px; box-sizing: border-box; }
.v-200 { height: 200px; box-sizing: border-box; }
.v-300 { height: 300px; box-sizing: border-box; }

.v-rest {
    vertical-align: top;
    display: table-row;
    width: 100%;
    height: 100%;
}

.with-content { padding: 15px; }
.with-separator { border-right: solid 1px #ccc; }

.h-rest {
    vertical-align: top;
    display: table-cell;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}
